<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include("partials/header"); -%>
    <h1>ABOUT PAGE</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati esse ipsam minus, quasi autem aperiam.
        Laudantium itaque expedita sunt, deleniti, nesciunt repellendus sapiente repellat nulla, labore veritatis
        incidunt modi fuga.

    </p>
    <a href="/">home page</a>
    <%- include("partials/footer"); -%>
    <script src="js/about.js"></script>
</body>

</html>