<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="#" class="logo">Study<span>with Yusuf</span></a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
          <a href="/">home</a>
          <a href="/make-post">post blog</a>
          <a href="#">view blog</a>
        </nav>
      </header>

      <!-- home section  -->

      <section class="home">
        <div class="content">
          <h3>CapacityBay Cohort 3</h3>
          <p>
            It's been interesting sharing this class with you all, though there
            have been nights of nothingness and emptiness there have been
            fruitful nights. My Mondays and Thursdays have been phenomenal.
          </p>
          <a href="#" class="btn">Post a Blog</a>
        </div>

        <div class="image">
          <img src="" alt="" />
        </div>
      </section>

      <!-- footer section  -->

      <section class="footer">
        <div class="box-container">
          <div class="box"></div>

          <div class="box"></div>

          <div class="box"></div>

          <div class="box"></div>
        </div>

        <div class="credit">
          created by <span> Yusuf Atlantis </span> | all rights reserved
        </div>
      </section>
    </div>

    <!-- custom js file link -->
    <script src="/js/script.js"></script>
  </body>
</html>
