<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>price</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">

        <header>

            <a href="#" class="logo">Smart<span>Study</span></a>

            <div id="menu" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="/">home</a>
                <a href="#">post blog</a>
                <a href="#">view blog</a>
            </nav>

        </header>

        <h1 class="heading"> Here we go... </h1>

        <!-- price section  -->

        <section class="price">

            <div class="box">
                <h3>Title</h3>
                <div class="amount"><span></span><span></span></div>
                <ul>
                    <p>content</p>
                </ul>
                <a href="#" class="btn">time</a>
            </div>

            


        </section>


        <!-- footer section  -->

        <section class="footer">

            <div class="box-container">

                <div class="box">
                    
                </div>

                <div class="box">
                    
                </div>

                <div class="box">
                    
                </div>

                <div class="box">
                    
                </div>

            </div>

            <div class="credit"> created by <span> Yusuf Atlantis </span> | all rights reserved </div>

        </section>

    </div>















    <!-- custom js file link -->
    <script src="js/script.js"></script>

</body>

</html>